Examen1/TestExamen1/Service References/Cliente/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17874/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17874/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17874/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Examen1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sumaResta_InputMessage">
    <wsdl:part name="parameters" element="tns:sumaResta" />
  </wsdl:message>
  <wsdl:message name="IService1_sumaResta_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumaRestaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_esCuadrada_InputMessage">
    <wsdl:part name="parameters" element="tns:esCuadrada" />
  </wsdl:message>
  <wsdl:message name="IService1_esCuadrada_OutputMessage">
    <wsdl:part name="parameters" element="tns:esCuadradaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerDiagonal_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDiagonal" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerDiagonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDiagonalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_esNulo_InputMessage">
    <wsdl:part name="parameters" element="tns:esNulo" />
  </wsdl:message>
  <wsdl:message name="IService1_esNulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:esNuloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_esFila_InputMessage">
    <wsdl:part name="parameters" element="tns:esFila" />
  </wsdl:message>
  <wsdl:message name="IService1_esFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:esFilaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_esColumna_InputMessage">
    <wsdl:part name="parameters" element="tns:esColumna" />
  </wsdl:message>
  <wsdl:message name="IService1_esColumna_OutputMessage">
    <wsdl:part name="parameters" element="tns:esColumnaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transpuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:transpuesta" />
  </wsdl:message>
  <wsdl:message name="IService1_transpuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:transpuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Multi_InputMessage">
    <wsdl:part name="parameters" element="tns:Multi" />
  </wsdl:message>
  <wsdl:message name="IService1_Multi_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_simetrica_InputMessage">
    <wsdl:part name="parameters" element="tns:simetrica" />
  </wsdl:message>
  <wsdl:message name="IService1_simetrica_OutputMessage">
    <wsdl:part name="parameters" element="tns:simetricaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_esDiagonal_InputMessage">
    <wsdl:part name="parameters" element="tns:esDiagonal" />
  </wsdl:message>
  <wsdl:message name="IService1_esDiagonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:esDiagonalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_esTriangularInferior_InputMessage">
    <wsdl:part name="parameters" element="tns:esTriangularInferior" />
  </wsdl:message>
  <wsdl:message name="IService1_esTriangularInferior_OutputMessage">
    <wsdl:part name="parameters" element="tns:esTriangularInferiorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_esTriangularSuperior_InputMessage">
    <wsdl:part name="parameters" element="tns:esTriangularSuperior" />
  </wsdl:message>
  <wsdl:message name="IService1_esTriangularSuperior_OutputMessage">
    <wsdl:part name="parameters" element="tns:esTriangularSuperiorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplicarPorEscalar_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicarPorEscalar" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplicarPorEscalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicarPorEscalarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EsEscalar_InputMessage">
    <wsdl:part name="parameters" element="tns:EsEscalar" />
  </wsdl:message>
  <wsdl:message name="IService1_EsEscalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EsEscalarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EsIdentidad_InputMessage">
    <wsdl:part name="parameters" element="tns:EsIdentidad" />
  </wsdl:message>
  <wsdl:message name="IService1_EsIdentidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EsIdentidadResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sumaResta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sumaResta" message="tns:IService1_sumaResta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sumaRestaResponse" message="tns:IService1_sumaResta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="esCuadrada">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/esCuadrada" message="tns:IService1_esCuadrada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/esCuadradaResponse" message="tns:IService1_esCuadrada_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDiagonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerDiagonal" message="tns:IService1_obtenerDiagonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerDiagonalResponse" message="tns:IService1_obtenerDiagonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="esNulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/esNulo" message="tns:IService1_esNulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/esNuloResponse" message="tns:IService1_esNulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="esFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/esFila" message="tns:IService1_esFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/esFilaResponse" message="tns:IService1_esFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="esColumna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/esColumna" message="tns:IService1_esColumna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/esColumnaResponse" message="tns:IService1_esColumna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transpuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transpuesta" message="tns:IService1_transpuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transpuestaResponse" message="tns:IService1_transpuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Multi" message="tns:IService1_Multi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultiResponse" message="tns:IService1_Multi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="simetrica">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/simetrica" message="tns:IService1_simetrica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/simetricaResponse" message="tns:IService1_simetrica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="esDiagonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/esDiagonal" message="tns:IService1_esDiagonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/esDiagonalResponse" message="tns:IService1_esDiagonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="esTriangularInferior">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/esTriangularInferior" message="tns:IService1_esTriangularInferior_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/esTriangularInferiorResponse" message="tns:IService1_esTriangularInferior_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="esTriangularSuperior">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/esTriangularSuperior" message="tns:IService1_esTriangularSuperior_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/esTriangularSuperiorResponse" message="tns:IService1_esTriangularSuperior_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplicarPorEscalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MultiplicarPorEscalar" message="tns:IService1_MultiplicarPorEscalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultiplicarPorEscalarResponse" message="tns:IService1_MultiplicarPorEscalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EsEscalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EsEscalar" message="tns:IService1_EsEscalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EsEscalarResponse" message="tns:IService1_EsEscalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EsIdentidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EsIdentidad" message="tns:IService1_EsIdentidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EsIdentidadResponse" message="tns:IService1_EsIdentidad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumaResta">
      <soap:operation soapAction="http://tempuri.org/IService1/sumaResta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esCuadrada">
      <soap:operation soapAction="http://tempuri.org/IService1/esCuadrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDiagonal">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerDiagonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esNulo">
      <soap:operation soapAction="http://tempuri.org/IService1/esNulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esFila">
      <soap:operation soapAction="http://tempuri.org/IService1/esFila" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esColumna">
      <soap:operation soapAction="http://tempuri.org/IService1/esColumna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transpuesta">
      <soap:operation soapAction="http://tempuri.org/IService1/transpuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multi">
      <soap:operation soapAction="http://tempuri.org/IService1/Multi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simetrica">
      <soap:operation soapAction="http://tempuri.org/IService1/simetrica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esDiagonal">
      <soap:operation soapAction="http://tempuri.org/IService1/esDiagonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esTriangularInferior">
      <soap:operation soapAction="http://tempuri.org/IService1/esTriangularInferior" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esTriangularSuperior">
      <soap:operation soapAction="http://tempuri.org/IService1/esTriangularSuperior" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplicarPorEscalar">
      <soap:operation soapAction="http://tempuri.org/IService1/MultiplicarPorEscalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsEscalar">
      <soap:operation soapAction="http://tempuri.org/IService1/EsEscalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsIdentidad">
      <soap:operation soapAction="http://tempuri.org/IService1/EsIdentidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:17874/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>