Examen1/TestExamen1/Service References/Cliente/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17874/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Examen1" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Examen1" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Examen1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumaResta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columna1" type="xs:int" />
        <xs:element minOccurs="0" name="fila1" type="xs:int" />
        <xs:element minOccurs="0" name="columna2" type="xs:int" />
        <xs:element minOccurs="0" name="fila2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumaRestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumaRestaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esCuadrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columna" type="xs:int" />
        <xs:element minOccurs="0" name="fila" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esCuadradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esCuadradaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDiagonal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDiagonalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerDiagonalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esNulo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="esNuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esNuloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esFila">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="esFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esFilaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esColumna">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="esColumnaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esColumnaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transpuesta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="transpuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transpuestaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="simetrica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="simetricaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="simetricaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esDiagonal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="esDiagonalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esDiagonalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esTriangularInferior">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="esTriangularInferiorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esTriangularInferiorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esTriangularSuperior">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="esTriangularSuperiorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esTriangularSuperiorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>